*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    max-width: 80%;
    font-family: "Open Sans", sans-serif;
    margin-inline: auto;
    color: #aeacac;
}

header{
    display: flex;
}
nav{
    background-color: #fcfcfc;
    width: 100%;

}
nav ul {
    display: flex;
    color: white;
    font-family: "Candal";
    justify-content: space-evenly;
    padding-top: 20px;
   
}
nav a{
    text-decoration: none;
    color: #1a4450;
   
}
h1{
font-family: "Candal", sans-serif;
font-size:2em ;
}
.fond p{
    font-family: "Candal", sans-serif;
    font-size:0.9em ;
}
.fond{
    padding:200px;
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color:white;
    text-align: center;
    width: 100%;
}
.block{
    background-color: #fb8b9b;
    color: #ebccc9;
    padding: 15px;
}
h2{
font-family: "Candal", sans-serif;
font-size: 1em;
color:  #213e4e;
text-align: center;
border-top: 1px dotted;
border-left:1px dotted;
border-right:1px dotted;
margin-top: 20px;
padding-top:20px;
}
h3{
 font-family: "Candal", sans-serif; 
 font-size: 0.9em;  
 color: #fb8b9b;
}
footer{
    padding-top: 20px;
    text-align: center;
    background-color: #213e4e;
    color: #e7f0ff;
    font-size: 10px;
}
footer ul{
    display: flex;
    color: white;
    font-family: "Candal";
    justify-content: space-evenly;
}
footer li{
    list-style: none;
}
footer a{
    color:#e7f0ff;
    text-decoration: none ;
}
.color{
    color: #fb8b9b;
    font-size: 2em;
}
b{
    color: #fb8b9b;
}
.flex{
    display: flex;
}
.forme{
    margin-right: 50px;
    margin-left: 50px;
}
i{
    width: 100%;
 }
 