h1{
    color:#dd5735;
    
  }
  
.text{
       text-align: center;
  }
  
  
.block2{
          border: 1px solid;
          border-color: tomato; 
      background-color: #444;
     
      
  }
.block3{
          border: 1px solid; 
          border-color: rgba(0, 0, 0, 0.);
          background-color: #444;
          /* margin-top: 20px; */
          
  }
  
body{
      font-family: sans-serif;
      background-color: rgba(0,0,0,0.1);
      line-height: 1.5;
     margin-inline: auto;
}       
 main{
  max-width: 1700px;
  margin-inline: auto;
  
 }
.footer img { 
         width: 70px;
         margin-top: 6px;
}
a{
  color: #dd5735;
}
footer{
  color:#eee;
}
.flex{
    display: flex;
}
strong p{
    background-color: rgb(162, 162, 162);
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    
}